# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
.idea/

# misc
.DS_Store
.env
.env.local
.local.env
.env.development
.env.development.local
.env.test.local
.env.production.local

*.log
*.txt
Screenshot.png
testreports
backend/debug-scripts/
/install-gnome-extension.sh
