# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

backup*

npm-debug.log*
yarn-debug.log*
yarn-error.log*
# Node.js
node_modules/
build/
dist/
.cache/

# SSL certificates and related files
/certbot/

# Uploads directory
/backend/uploads/

# Editor files
.vscode/
.idea/
.DS_Store

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
collected_content.txt

# Build directories
/frontend/hostel-frontend/build/
/frontend/hostel-frontend/node_modules/
collected_code.txt
project_code.txt
market_project_code.txt
.gitignore
all_mark.sh
.gitignore
all_otziv.sh
all_mark.sh
