# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

.DS_Store
.env
.env.local
.local.env
.docker.env
.env.development.local
.env.test.local
.env.production.local

main
api
/.env.backup
*.next.backup/
frontend/svetu/.next.backup/
