version: '3.8'

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: hostel_db
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  backend:
    build:
      context: ../backend
    ports:
      - "3000:3000"
    env_file:
      - ../backend/.env
    depends_on:
      - db
    command: [ "go", "run", "main.go" ]
    networks:
      - hostel_network

  frontend:
    build:
      context: ../frontend/hostel-frontend
    ports:
      - "3001:3000"
    environment:
      - REACT_APP_API_URL=https://landhub.rs/api
    networks:
      - hostel_network

volumes:
  db_data:


networks:
  hostel_network:
    driver: bridge
