name: Backend Deploy

on:
    workflow_dispatch:
        inputs:
            version:
                description: 'Backend Deploy'
                required: false
                default: 'latest'

jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
            -   name: Checkout code
                uses: actions/checkout@v3

            # Установка временной метки
            -   name: Set timestamp
                run: echo "TIMESTAMP=$(date +%Y%m%d_%H%M%S)" >> $GITHUB_ENV

            # Настройка SSH ключа для подключения к серверу
            -   name: Setup SSH key
                uses: webfactory/ssh-agent@v0.7.0
                with:
                    ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

            # Добавление host key в known hosts
            -   name: Add host key to known hosts
                run: |
                    mkdir -p ~/.ssh
                    ssh-keyscan -H ${{ secrets.SERVER_HOST }} >> ~/.ssh/known_hosts

            # Копирование скрипта blue_green_backend.sh на сервер
            -   name: Copy deployment script to server
                run: |
                    scp scripts/blue_green_backend.sh ${{ secrets.SSH_USER }}@${{ secrets.SERVER_HOST }}:/tmp/blue_green_backend.sh
                    ssh ${{ secrets.SSH_USER }}@${{ secrets.SERVER_HOST }} "chmod +x /tmp/blue_green_backend.sh"
                    echo "Script успешно скопирован на сервер в директорию /tmp/"

            # Запуск скрипта blue_green_backend.sh на сервере
            -   name: Execute blue_green_backend.sh script on server
                run: |
                    ssh ${{ secrets.SSH_USER }}@${{ secrets.SERVER_HOST }} "source ~/.profile && /tmp/blue_green_backend.sh"

            # Оповещение о завершении деплоя
            -   name: Deployment notification
                if: always()
                run: |
                    echo "Deployment ${{ job.status }}"