name: Migrate - Build

on:
    workflow_dispatch:
        inputs:
            version:
                description: 'Migration Build'
                required: false
                default: 'latest'

env:
    IMAGE_NAME: svetu/migrator

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            -   name: Checkout code
                uses: actions/checkout@v3

            # Установка временной метки
            -   name: Set timestamp
                run: echo "TIMESTAMP=$(date +%Y%m%d_%H%M%S)" >> $GITHUB_ENV

            # Авторизация в Docker Registry
            -   name: Login to Docker Registry
                uses: docker/login-action@v3
                with:
                    registry: ${{ secrets.DOCKER_REGISTRY }}
                    username: ${{ secrets.DOCKER_USERNAME }}
                    password: ${{ secrets.DOCKER_PASSWORD }}

            # Настройка Docker Buildx
            -   name: Set up Docker Buildx
                uses: docker/setup-buildx-action@v3

            # Сборка и отправка Migrator образа
            -   name: Build and push Migrator Docker image
                uses: docker/build-push-action@v6
                with:
                    context: ./backend
                    file: ./backend/Dockerfile.migrator
                    push: true
                    tags: |
                        ${{ secrets.DOCKER_REGISTRY }}/${{ env.IMAGE_NAME }}:${{ env.TIMESTAMP }}
                        ${{ secrets.DOCKER_REGISTRY }}/${{ env.IMAGE_NAME }}:latest

            # Оповещение о завершении
            -   name: Build notification
                if: always()
                run: |
                    echo "Build ${{ job.status }}"
                    echo "Image: ${{ secrets.DOCKER_REGISTRY }}/${{ env.IMAGE_NAME }}:${{ env.TIMESTAMP }}"