name: Frontend Build

on:
    workflow_dispatch:
        inputs:
            version:
                description: 'Frontend Build'
                required: false
                default: 'latest'

jobs:
    harborputh:
        runs-on: ubuntu-latest
        steps:
            -   name: Checkout code
                uses: actions/checkout@v3

            # Установка временной метки
            -   name: Set timestamp
                run: echo "TIMESTAMP=$(date +%Y%m%d_%H%M%S)" >> $GITHUB_ENV

            # Авторизация в Docker Registry
            -   name: Login to Docker Registry
                uses: docker/login-action@v3
                with:
                    registry: ${{ secrets.DOCKER_REGISTRY }}
                    username: ${{ secrets.DOCKER_USERNAME }}
                    password: ${{ secrets.DOCKER_PASSWORD }}

            # Настройка Docker Buildx
            -   name: Set up Docker Buildx
                uses: docker/setup-buildx-action@v3

            # Сборка и отправка Frontend образа
            -   name: Build and push Frontend Docker image
                uses: docker/build-push-action@v6
                with:
                    context: ./docker/postgres-postgis
                    push: true
                    build-args: |
                        GIT_COMMIT=${{ github.sha }}
                        BUILD_TIME=${{ env.TIMESTAMP }}
                    tags: |
                        ${{ secrets.DOCKER_REGISTRY }}/postgres/postgis:${{ env.TIMESTAMP }}
                        ${{ secrets.DOCKER_REGISTRY }}/postgres/postgis:latest

            # Оповещение о завершении деплоя
            -   name: Deployment notification
                if: always()
                run: |
                    echo "Deployment ${{ job.status }}"
